@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.text{
    color: rgb(27, 26, 26);
}
.card{
    display: flex;
    position: absolute;
    padding-top: 5%;

}
.source-button{
    background-color: #38606A;
    color: rgb(250, 250, 250);
    border-radius: 5px;
    text-decoration: none;
    width: 20%;
}
.container{
    color: #59514E;
    background-color: #A69586;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2%;
}
.show-button{
    position: relative;
    text-decoration: none;
    background-color: rgb(177, 82, 65);
    color: white;
    border-radius: 2px;
    left: 1%;
}


.navbar-brand{
    padding-left: 10px;
}
.data-text{
    padding-top: 2%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
#nav-thing{
    padding-left: 5%;
}
.nav-item{
    font-size: 18px;
}
#navbarNav{
    justify-content: flex-end;
    padding-right: 1%;
}
#main-nav-thing{
    background-color: #A69586;
}
.searchBar{
    bottom: 10%;
}