@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.text{
    color: rgb(27, 26, 26) ;
}
.card{
    display: flex;
    position: absolute;
    padding-top: 5%;

}
.source-button{
    background-color: #38606A;
    color: rgb(250, 250, 250);
    border-radius: 5px;
    text-decoration: none;
    width: 20%;
}
.container{
    color: rgb(121, 160, 160);
    background-color: bisque;
    font-family: 'Roboto', sans-serif;
}
.show-button{
    position: relative;
    text-decoration: none;
    background-color: rgb(177, 82, 65);
    color: white;
    border-radius: 2px;
    left: 1%;
}

.search-bar{
    position: absolute;
    width: 80%;
    border-radius: 4px;
    height: 5%;
}
.navbar-brand{
    padding-left: 10px;
}
.data-text{
    padding-top: 2%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.navbar navbar-expand-lg navbar-light bg-light{
    
}